@model SampleOrg.Foo.Website.Models.ColorEntry
@{
    ViewData["Title"] = Model.Name;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/colors">Colors</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
    </ol>
</nav>

<h1 class="mb-4">@Model.Name</h1>

<div class="row g-4">
    <div class="col-md-3">
        <div style="width:100%;aspect-ratio:1;background-color:@Model.Hex;border:1px solid #ccc;border-radius:6px;"></div>
    </div>
    <div class="col-md-9">
        <table class="table table-bordered w-auto">
            <tbody>
                <tr><th scope="row">ID</th><td>@Model.Id</td></tr>
                <tr><th scope="row">Category</th><td>@Model.Category</td></tr>
                <tr><th scope="row">Hex</th><td><code>@Model.Hex</code></td></tr>
                <tr><th scope="row">RGB</th><td>rgb(@Model.R, @Model.G, @Model.B)</td></tr>
                <tr><th scope="row">Hue</th><td>@Model.Hue&deg;</td></tr>
            </tbody>
        </table>
        <a href="/colors" class="btn btn-outline-secondary">&larr; Back to Colors</a>
        @if (Model.Category == "Basic")
        {
            <a href="/colors/@Model.Slug/extra-details" class="btn btn-outline-secondary ms-2">More details...</a>
        }
        <a href="/colors/@Model.Slug/subjects" class="btn btn-outline-primary ms-2">Go to subjects &rarr;</a>
    </div>
</div>
